.app{
  display:  grid;
  padding: 30px;
  justify-content: center;

}

.game{
  width: 560px;
  height: 560px;
  display: flex;
  flex-wrap: wrap;
}

.game img{
  width: 70px;
  height: 70px;
}

.notes{
  border: 1px solid black;
  width: 540px;
  padding: 10px;
}